@import url("/assets/css/colors.css");

/* 헤더 */
.header-title {
    position: relative;
    width: 100%;
    height: 320px;
    background: url('/assets/img/header/header-title.png') no-repeat center center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.club-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-text {
    display: flex;
    flex-direction: column;
    width: 661px;
    height: 110px;
    align-items: center;
}

.title-text-1 {
    font-size: 40px;
    font-weight: bold;
}
.title-text-2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--mainColor);
}
.title-text-3 {
    font-size: 32px;
}

.body-wrapper {
    margin-top: 64px;
}

.line {
    color: var(--gray-03);
    width: 1004px;
    height: 2px;
}

.content-box {
    display: flex;
    flex-direction: row;
    margin: 36px 0;
    width: 615px;
}

.img {
    margin: 0 21px;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.semi-title {
    font-size: 24px;
    font-weight: bold;
    height: 49px;
}

.content {
    font-size: 20px;
    width: 604px;
    height: 116px;
}

.last-text-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 64px;
}

.last-text {
    font-size: 24px;
    height: 58px;
}

.catch-praise {
    margin-top: 34px;
}