<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.baseball.domain.admin.AdminMapper">
    <select id="countReservation" resultType="int">
        SELECT COUNT(*) FROM reservations
    </select>
    <select id="showReservationList" resultType="org.baseball.dto.ReserveInfoDTO" parameterType="map">
        SELECT
            u.user_name AS name,
            l.reservelist_pk AS reserveNo,
            COUNT(r.reserve_pk) AS seatCount,
            GROUP_CONCAT(r.zone_pk) AS zone,
            GROUP_CONCAT(r.seat_num) AS seat,
            l.is_cancel AS isCancel,
            l.is_pay AS isPay,
            DATE(g.game_date) AS gameDate,
            DATE(l.cancel_date) AS cancelDate
        FROM reservation_list l
                 JOIN user u ON l.user_pk = u.user_pk
                 LEFT JOIN reservations r ON l.reservelist_pk = r.reservelist_pk
                 JOIN games g ON g.game_pk = l.game_pk
        GROUP BY l.reservelist_pk, u.user_name, l.is_cancel, g.game_date, l.cancel_date
        ORDER BY l.reservelist_pk
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countGames" resultType="int" parameterType="map">
        SELECT COUNT(*) FROM games
        WHERE stadium_pk = 1
        <choose>
            <when test='status != null and status.equals("1")'>
                AND result IS NOT NULL
            </when>
            <when test='status != null and status.equals("2")'>
                AND result IS NULL
            </when>
        </choose>
    </select>
    <select id="showGamesList" resultType="org.baseball.dto.GamesInfoDTO" parameterType="map">
        SELECT game_pk as gameNo, team_pk as opponentTeam, our_score as ourScore, opp_score as opponentScore, result, DATE_FORMAT(game_date, '%Y-%m-%d %H:%i') as gameDate
        FROM games
        WHERE stadium_pk = 1
        <choose>
            <when test='status != null and status.equals("1")'>
                AND result IS NOT NULL
            </when>
            <when test='status != null and status.equals("2")'>
                AND result IS NULL
            </when>
        </choose>
        ORDER BY game_date DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countHomeGames" resultType="int">
        SELECT COUNT(*) FROM games
        FROM games
        WHERE stadium_pk = 1 AND game_pk NOT IN (SELECT game_pk FROM homegame)
    </select>
    <select id="showGamesAddList" resultType="org.baseball.dto.GamesInfoDTO" parameterType="map">
        SELECT game_pk as gameNo, team_pk as opponentTeam, our_score as ourScore, opp_score as opponentScore, result, DATE_FORMAT(game_date, '%Y-%m-%d %H:%i') as gameDate
        FROM games
        WHERE stadium_pk = 1 AND game_pk NOT IN (SELECT game_pk FROM homegame) AND game_date >= SYSDATE()
        ORDER BY game_date DESC
        LIMIT #{size} OFFSET #{offset}
    </select>
    <select id="showAddGameInfo" parameterType="int" resultType="org.baseball.dto.AddGameInfoDTO">
        SELECT g.game_pk as gameNo, t.team_name as opponentTeamName, DATE_FORMAT(g.game_date, '%Y-%m-%d %H:%i') as gameDate, s.location as stadium
        FROM games g
         JOIN team t ON t.team_pk = g.team_pk
         JOIN stadium s ON s.stadium_pk = g.stadium_pk
        WHERE g.game_pk =  #{gameNo}
    </select>
    <insert id="addHomeGame" parameterType="org.baseball.dto.HomeGameDTO">
        INSERT INTO homegame(game_pk, start_date, end_date)
        VALUES (#{gameNo}, #{startTime}, #{endTime})
    </insert>
</mapper>