<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.baseball.domain.games.RankMapper">

<!--    DTO와 DB 테이블 컬럼 이름 대응-->
    <resultMap id="teamRank" type="org.baseball.dto.TeamDTO">
        <result property="teamPk" column="team_pk"/>
        <result property="ranking" column="ranking"/>
        <result property="teamName" column="team_name"/>
        <result property="win" column="win"/>
        <result property="lose" column="lose"/>
        <result property="draw" column="draw"/>
        <result property="winRate" column="win_rate"/>
        <result property="behind" column="behind"/>
        <result property="gameCnt" column="game_cnt"/>
        <result property="winStreak" column="win_streak"/>
    </resultMap>

    <select id="getTeamRanking" resultMap="teamRank">
        SELECT
            team_pk,
            ranking,
            team_name,
            win,
            lose,
            draw,
            win_rate,
            behind,
            game_cnt,
            win_streak
        FROM team
        ORDER BY ranking ASC
    </select>

</mapper>
