<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.baseball.domain.reservation.ReservationMapper">
    <resultMap id="ReserveGameInfo" type="org.baseball.dto.ReserveGameInfoDTO">
        <result property="gamePk" column="game_pk"/>
        <result property="oppTeamPk" column="team_pk"/>
        <result property="oppTeamName" column="team_name"/>
        <result property="gameDate" column="game_date"/>
    </resultMap>
    <select id="getGameInfo" parameterType="int" resultMap="ReserveGameInfo">
        SELECT g.game_pk, g.team_pk, g.game_date, t.full_name as team_name
        FROM games g LEFT JOIN team t ON g.team_pk = t.team_pk
        WHERE g.game_pk = #{game_pk}
    </select>

    <select id="getSoldSeats" parameterType="org.baseball.dto.SoldSeatsReqDTO" resultType="string">
        SELECT r.seat_num
        FROM reservation_list l JOIN reservations r ON l.reservelist_pk = r.reservelist_pk
        WHERE l.game_pk = #{gamePk} AND l.is_cancel = false AND r.zone_pk = #{zonePk}
        ORDER BY seat_num DESC
    </select>

    <resultMap id="Zone" type="org.baseball.dto.ZoneDTO">
        <result property="zonePk" column="zone_pk"/>
        <result property="zoneName" column="zone_name"/>
        <result property="zoneColor" column="zone_color"/>
        <result property="cost" column="cost"/>
        <result property="totalNum" column="total_num"/>
    </resultMap>
    <select id="getZones" resultMap="Zone">
        SELECT zone_pk, zone_name, zone_color, cost, total_num
        FROM zone
        ORDER BY cost DESC, zone_pk DESC
    </select>

    <select id="getZoneInfo" resultMap="Zone">
        SELECT zone_pk, zone_name, zone_color, cost, total_num
        FROM zone
        WHERE zone_pk = #{zonePk}
        ORDER BY cost DESC, zone_pk DESC
    </select>

    <select id="confirmPreemption" resultType="int">
        SELECT COUNT(*)
        FROM reservations r LEFT JOIN reservation_list l ON r.reservelist_pk = l.reservelist_pk
        WHERE r.zone_pk = #{zonePk} AND r.seat_num = #{seatNum} AND l.game_pk = #{gamePk}
    </select>

    <insert id="setPreemptionList" useGeneratedKeys="true" keyProperty="reservelistPk" keyColumn="reservelist_pk">
        INSERT INTO reservation_list (quantity, user_pk, game_pk, reserve_code)
        VALUES (#{quantity}, #{userPk}, #{gamePk}, #{reserveCode})
    </insert>

    <insert id="setPreemptionReserve" useGeneratedKeys="true" keyProperty="reservePk" keyColumn="reserve_pk">
        INSERT INTO reservations (reservelist_pk, zone_pk, seat_num, hold_started_at, state)
        VALUES (#{reservelistPk}, #{zonePk}, #{seatNum}, NOW(), 'HELD')
    </insert>

    <delete id="deletePreemptionList">
        DELETE FROM reservation_list
        WHERE reservelist_pk = #{reservelistPk}
    </delete>

    <delete id="deletePreemptionReserve">
        DELETE FROM reservations
        WHERE reservelist_pk = #{reservelistPk}
    </delete>

    <resultMap id="DiscountInfo" type="org.baseball.dto.DiscountDTO">
        <result property="discountPk" column="discount_pk"/>
        <result property="type" column="type"/>
        <result property="disRate" column="dis_rate"/>
    </resultMap>
    <select id="getDiscountInfo" resultMap="DiscountInfo">
        SELECT discount_pk, type, dis_rate
        FROM discount
    </select>

    <select id="isOurGame" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM homegame
        WHERE game_pk = #{gamePk}
    </select>

    <select id="getReservelistPk" resultType="Integer">
        SELECT r.reservelist_pk
        FROM reservation_list l LEFT JOIN reservations r ON l.reservelist_pk = r.reservelist_pk
        WHERE l.game_pk = #{gamePk} AND r.zone_pk = #{zonePk} AND r.seat_num = #{seatNum} AND r.state = 'HELD'
        LIMIT 1
    </select>
    <select id="getReservelistPkByUser" resultType="Integer">
        SELECT r.reservelist_pk
        FROM reservation_list l LEFT JOIN reservations r ON l.reservelist_pk = r.reservelist_pk
        WHERE l.game_pk = #{gamePk} AND r.zone_pk = #{zonePk} AND l.user_pk = #{userPk} AND r.seat_num = #{seatNum} AND r.state = 'HELD'
        LIMIT 1
    </select>

    <select id="getReservelistPkAuto" resultType="Integer">
        SELECT r.reservelist_pk
        FROM reservation_list l LEFT JOIN reservations r ON l.reservelist_pk = r.reservelist_pk
        WHERE l.game_pk = #{gamePk} AND r.zone_pk = #{zonePk} AND l.user_pk = #{userPk} AND r.seat_num = '자동배정' AND r.state = 'HELD'
        LIMIT 1;
    </select>

    <select id="countUserReserve" resultType="int">
        SELECT COUNT(*)
        FROM reservations r LEFT JOIN reservation_list l ON l.reservelist_pk = r.reservelist_pk
        WHERE l.game_pk = #{gamePk} AND l.user_pk = #{userPk} AND r.state = 'PAID'
    </select>
</mapper>
