<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.baseball.domain.story.videos.VideoMapper">
    <sql id="select">
        <where>
            <if test="keyword != null and keyword != ''">
                v_title LIKE CONCAT('%',#{keyword}, '%')
            </if>
        </where>
    </sql>

    <insert id="insertVideo" parameterType="org.baseball.dto.VideoDTO">
        INSERT IGNORE INTO videos(
             v_title, v_date, v_url, thumbnail_url, v_id
        ) VALUES (
              #{v_title}, #{v_date}, #{v_url}, #{thumbnail_url}, #{v_id}
        )
    </insert>

    <select id="getVideo" resultType="org.baseball.dto.VideoDTO" parameterType="map">
        SELECT v_title, v_date, v_url, thumbnail_url
        FROM videos
        <include refid="select"/>
        ORDER BY v_date DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countVideo" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM videos
        <include refid="select"/>
    </select>
</mapper>