@import url('/assets/css/colors.css');
@import url('/assets/css/font.css');

.tickets-tab {
    width: 780px;
    margin: 48px auto 0 auto;
    box-sizing: border-box;
}

.tickets-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--white);
    align-items: center;
}

.ticket-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px 36px;
    margin-bottom: 10px;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #D9D9D9;
}

.ticket-item.expanded {
    box-shadow: 0 0 10px 0 rgba(4, 113, 233, 0.5);
}

.ticket-top {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: nowrap;
}

.logo-team {
    width: 60px;
    height: auto;
    object-fit: contain;
}

.vs-text {
    font-weight: 400;
    font-size: 20px;
    color: var(--black);
    user-select: none;
}

.match-date {
    margin-left: 52px;
    margin-right: auto;
    font-size: 20px;
    color: var(--black);
}

.arrow-icon {
    width: 36px;
    height: 36px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.ticket-item.expanded .arrow-icon {
    transform: rotate(90deg);
}

.ticket-info {
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    font-size: 16px;
    color: var(--black);
}

.ticket-item.expanded .ticket-info {
    margin-top: 32px;
    max-height: 1000px;
}

.ticket-info-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
}

.ticket-details {
    flex-grow: 1;
}

.info-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 4px;
}

.label {
    width: 170px;
    margin-right: 64px;
    font-size: 20px;
    font-weight: 400;
    color: var(--black);
    text-align: left;
}

.user, .ticket-num, .stadium, .seat {
    width: 300px;
    line-height: 32px;
    display: inline-block;
}

.no-tickets-msg {
    font-size: 14px;
    color: var(--gray-02);
    padding: 20px;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}