/*
    권종/할인 선택(2), 예매 확인(3) 에서 공통으로 사용하는 스타일
 */

@import "/assets/css/colors.css";




.teamInfo-container {
    height: 82px;
    width: 157px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.teamInfo-wrapper {
    height: 82px;
    width: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teamImg-wrapper {
    height: 62px;
    width: 68px;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamImg {
    height: 80%;
    width: 80%;
    object-fit: contain;
}

.teamName-wrapper {
    height: 20px;
    width: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamName {
    font-weight: 500;
    font-size: 10px;
}

#vs {
    font-weight: 500;
    font-size: 12px;
}

.right-gameInfo-container {
    height: 40px;
    width: 157px;
}

.right-gameInfo-wrapper {
    height: 40px;
    width: 157px;
    font-weight: 500;
    font-size: 11px;
    color: var(--gray-02);
    padding-left: 10px;
}

.ticket-btn-wrapper {
    justify-content: space-between;
}
.ticket-btn-wrapper > img {
    width: 49%;
}

.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-wrapper {
    height: 259px;
    width: 155px;
}

.reserveInfo-container {
    height: 170px;
    width: 155px;
}

.bottom-infotext-wrapper {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}

#bottom-infotext {
    font-size: 13px;
    font-weight: 600;
}

.selectedSeat-wrapper {
    height: 45px;
    width: 100%;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid var(--gray-03);
    overflow-y: auto;
}

#zoneName {
    margin-left: 5px;
}

#seatDetail {
    margin-right: 5px;
}

.priceInfo-wrapper {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid var(--gray-04);
}

#priceInfotext {
    margin-left: 5px;
}

#price {
    margin-right: 5px;
}

.usedPointInfo-wrapper {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid var(--gray-02);
}


#usedPointInfotext {
    margin-left: 5px;
}

#usedPoint {
    margin-right: 5px;
}

.totalPayInfo-wrapper {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    border-bottom: 1px solid var(--gray-02);
}

#totalPayInfotext {
    margin-left: 5px;
}

#totalPay {
    color: var(--errorColor);
    margin-right: 5px;
}

.cancelNotice-container {
    height: 89px;
    width: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cancelNoticeText-wrapper {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cancelNoticeText {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}

.cancelAgree-container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.cancelAgree-checkbox-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
}

#cancelAgree-checkbox {
    display: none; /* 기본 체크 박스 사용X */
}

#cancelAgree-checkbox + label {
    display: block;
    width: 10px;
    aspect-ratio: 1 / 1;
}

#cancelAgree-checkbox+label {
    background-repeat: no-repeat;
    background-image: url('/assets/img/reservation/checkboxOff.svg');
    background-position: center center;
    background-size: contain;
}

#cancelAgree-checkbox:checked+label {
    background-repeat: no-repeat;
    background-image: url('/assets/img/reservation/checkboxOn.svg');
    background-position: center center;
    background-size: contain;
}

#cancelAgree-text {
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
}