@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2307@1.0/PretendardVariable.woff2') format('woff2-variations');
    font-style: normal;
    font-display: swap;
}

.backgroundImg{
    width: 1536px;
    height: 320px;
    background: url("../../img/header-title.png") no-repeat center center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    color: black;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
}

