#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pageBtn{
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    color: var(--gray-02);
    transition: 0.2s;
}
.pageRight, .pageLeft {
    width: 10px;
    height: 20px;
    border: none;
    cursor: pointer;
}
.pageRight{
    background: url("../../img/icon/pageRight.svg") no-repeat center center;
    background-size: contain;
    padding-right: 50px;
}
.pageLeft{
    background: url("../../img/icon/pageLeft.svg") no-repeat center center;
    background-size: contain;
    padding-left: 50px;
}

.pageBtn.active {
    background-color: var(--mainColor);
    color: white;
}

.pageEllipsis {
    display: inline-block;
    width: 18px;
    height: 4px;
    border: none;
    cursor: default;
    background: url("../../img/icon/pageDot.svg") no-repeat center center;
    background-size: contain;
    padding-right: 45px;
}
.pageLeft:disabled, .pageRight:disabled {
    opacity: 0.5;
    cursor: default;
}