/*================ search bar ====================*/
.search {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Pretendard Variable";
    height: 40px;
}

.dropdown {
    width: 80px;
    height: 40px;
    font-family: "Pretendard Variable";

    padding: 10px 17px 10px 17px;
    margin-right: 10px;

    border: 1px solid var(--gray-03);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("../../img/dropdownVector.png") no-repeat right 10px center;
    font-size: 14px;
    color: var(--black);
    cursor: pointer;
}

.search-text{
    width: 260px;
    height: 40px;
    border: 1px solid var(--gray-03);
    padding: 10px 13px 10px 13px;
    font-size: 14px;
    color: var(--black);
}
.search-text::placeholder {
    color: var(--gray-03);
    opacity: 1;
}

.search-btn{
    width: 40px;
    height: 40px;
    background: url("../../img/search_img.png") no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.dropdown:focus,
.search-text,
.search-btn:focus {
    outline: none;
}
/*================ search bar ====================*/