@import "/assets/css/colors.css";
@import "/assets/css/font.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 980px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 80px;
}
form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.filter{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5rem 0 0 1rem;
}

.filter select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 1rem 2rem 1rem 1.2rem;
    font-size: 20px;
    border: 1px solid var(--gray-05);
    border-radius: 0;
    background-color: var(--white);
    background-image: url('/assets/img/dropdownVector.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer;
    color: var(--black);
}

#list {
    width: 100%;
    margin-bottom: 80px;
}

.box {
    width: 980px;
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--gray-02);
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    margin-top: 1.5rem;
    box-shadow: 0 10px 10px -5px var(--gray-04);
}

.team-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 300;
}

.teamlogo {
    height: 90px;
    margin: 20px;
}

.date {
    font-size: 54px;
    font-weight:200;
    margin: 0 10px 0 0;
    text-align: center;

}

.date-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.day-container {
    margin: 0 20px 0 0;
    justify-content: flex-start;

}
.day {
    font-size: 24px;
    font-weight:300;
    margin-bottom: -15px;
    text-align: start;
}

.time {
    font-size: 26px;
    font-weight:300;
    margin-top: -15px;
    text-align: start;
}

.stadium {
    font-size: 16px;
    font-weight:300;
    text-align: start;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 0;
}

.location {
    font-size: 26px;
    font-weight:300;
    text-align: start;
    margin-left: 10px;
    margin-right: 20px;
}

.onsale-ticket-btn {
    height: 75px;
    width: 150px;
    background-color: var(--mainColor);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 26px;
    font-weight: 400;
    color: var(--white);
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
}

.onsale-ticket-btn:hover {
    background-color: var(--mainHover);
}

.plan-ticket-btn {
    height: 75px;
    width: 150px;
    background-color: var(--lightBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 26px;
    font-weight: 400;
    color: var(--black);
    cursor: not-allowed;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
}

.plan-time {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: -5px;
}

.plan-label {
    font-size: 24px;
    font-weight: 350;
    margin-top: -5px;
}

.no-result {
    width: 980px;
    text-align: center;
    font-size: 24px;
    color: var(--gray-02);
    margin-top: 20px;
}