* {
    display: block;
    margin: 0;
    padding: 0;
}

.seats-container {
    width: 833px;
    height: 512px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5; /* todo: white로 변경 */
}

.map-container {
    position: absolute;
    width: 644px;
    height: 512px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin: auto auto;
    background-color: white;
}

.map-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#svgMap {
    width: 100%;
    height: 60%;
    background-color: white;
}

/* tool bar */
.btn-container {
    top: 20px;
    right: 20px;
    position: absolute;
    z-index: 2;
}

.btn-wrapper {
    width: 50px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

#gobackBtn {
    margin-bottom: 13px;
}

#enlargementBtn {
    margin-bottom: 4px;
}

#reductionBtn {
    margin-bottom: 13px;
}

/* direction */
.direction-container {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
