* {
    display: block;
    margin: 0;
    padding: 0;
}

.stadium-container {
    width: 833px;
    height: 512px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.ballpark-container {
    position: absolute;
    height: 512px;
    aspect-ratio: 1.2 / 1;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin: auto auto;
}

.ballpark-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

#svgMap {
    height: 512px;
    background-color: white;
}