@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2307@1.0/PretendardVariable.woff2') format('woff2-variations');
    font-style: normal;
    font-display: swap;
}

* {
    display: block;
    margin: 0;
    padding: 0;
}

.gameinfo-container {
    height: 90px;
    width: 522px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.teams-wrapper {
    width: 522px;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: end;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

#team1 {
    margin-right: 10px;
    margin-left: 20px;
}

#team2 {
    margin-left: 10px;
}

.detail-wrapper {
    width: 522px;
    height: 45px;
    display: flex;
    justify-content: start;
    align-items: start;
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

#location {
    margin-right: 10px;
    margin-left: 20px;
}

#date {
    margin-left: 10px;
}
.mapinfo-container {
    height: 444px;
    width: 522px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* common 요소들 개별 스타일 지정 */
.bottom-container {
    display: flex;
    flex-direction: column;
}

.infotext-container {
    display: flex;
    justify-content: space-between;
}

#selectZone {
    font-family: 'Pretandard', sans-serif;
    font-size: 15px;
    font-weight: 600;
}