@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2307@1.0/PretendardVariable.woff2') format('woff2-variations');
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}
.content{
    width: 980px;
    margin: 0 auto;
    padding-top: 80px;
}
.backgroundWrapper{
    display: flex;
    justify-content: center;
}

.postHeader {
    width: 980px;
    height: 80px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background-color: var(--gray-06);
    border-bottom: 2px solid var(--gray-01);
    color: var(--gray-01);
}
.postHeader .title {
    flex: 3;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    border: none;
    background-color: var(--gray-06);
}
.postHeader .title::placeholder{
    color: var(--gray-03);
}
.postHeader .title:focus {
    outline: none;
}

#post-container{
    padding: 40px 40px;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 2px solid var(--gray-02);
    min-height: 300px;
}
#write-post{
    width: 900px;
    min-height: 400px;
    resize: none;
    border: none;
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
    font-size: 18px;
}
#write-post::placeholder{
    font-size: 16px;
    color: var(--gray-03);
    font-weight: 400;
}
#write-post:focus {
    outline: none;
}
/*=====================================*/
.btnLocation{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Pretendard Variable";
    height: 50px;
    margin-top: 64px;
}

.writeBtn{
    width: 180px;
    height: 50px;
    background-color: var(--mainColor);
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.writeBtn:hover{
    background-color: var(--mainHover);
}