:root{
    --mainColor: #0241A0;
    --subColor: #0471E9;
    --lightBlue: #DDEDF4;
    --yellow: #FFDE01;

    --gray-01: #333333;
    --gray-02: #707070;
    --gray-03: #BDBDBD;
    --gray-04: #D0D0D0;
    --gray-05: #E1E1E1;
    --gray-06: #F5F5F5;

    --white: #FFFFFF;
    --black: #000000;
    --errorColor: #FC5555;
}