* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}

.content{
    width: 980px;
    margin: 0 auto;
    padding-top: 80px;
}

p{
    font-size: 18px;
    padding-bottom: 10px;
}

h1{
    font-size: 34px;
    padding-bottom: 24px;
}
h3{
    padding-top: 24px;
    font-size: 22px;
    padding-bottom: 8px;
}

ul{
    padding-left: 20px;
    font-size: 18px;
}