@import "/assets/css/colors.css";
@import "/assets/css/font.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.container {
    position: relative;
    margin: 0;
    margin-bottom: -200px;
    width: 1536px;
    min-height: 1700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("/assets/img/fairy/fairy-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    width: 1175px;
    height: auto;
    padding: 60px 50px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--white);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
}

.subtitle {
    color: var(--subColor);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 90px;
}

.maintitle {
    margin-top: -10px;
    margin-bottom: 20px;
    color: var(--mainColor);
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 90px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fairy-container {
    top: 450px;
    left: 0;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
}

.box-container {
    margin-bottom: 20px;
}

.box {
    background: var(--white);
    width: 650px;
    margin-bottom: 60px;
    margin-left: 180px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
}

.fairy-img {
    position: absolute;
    top: 100px;
    left: 55%;
    transform: translateX(-50%);
    z-index: 2;
    width: 300px;
}

.medal {
    margin-top: -30px;
    margin-left: -50px;

}

.name {
    margin: -40px 50px 10px 50px;
    font-size: 40px;
    font-weight: 500;
}

table {
    margin-left: 30px;
    font-size: 24px;
    font-weight: 400;
    border-spacing: 10px 10px;
    border-collapse: separate;
}

.bar-container {
    margin-left: 40px;
    width: 350px;
    background-color: var(--white);
    border-radius: 4px;
    overflow: hidden;
}
.bar {
    height: 10px;
    background-color: #3B82F6;
}